body{
    margin: 0;
}


.header{
    width: 100%;
    height: 61.44px;
    background-color: black;
    display: flex;
    margin-right: 250px;

}
.logo{
    height: 61.44px;
    width: 112px;
    margin-left: 270px;
}
.name{
    display: flex;
    color: white;
    font-size: 10px;
    margin-right: 200px;
}
.navbar{
    list-style: none;
    display: flex;
    font-size: 15px;
    block-size: 5px;
}
.navbar li {
    margin: 0 12px;
    margin-top: 10px;
}
.image{
    width: 100%;
    height: 633px;
    background-image: url(./image/hero_1920x700.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;
    block-size: 2px;
}
.text1{
    padding-top: 2%;
    text-align: center;
    font-size: 20px;
    block-size: 2px;
}
.tr{
    gap: 80px;
    display: flex;
    justify-content: center;
    padding: 5% 0;
}
.pz{
    gap: 80px;
    display: flex;
    justify-content: center;
    padding: 5% 0;
}
#t1{
    padding-left: 35%;
    font-size: 25px;
}
#t2{
    padding-left: 35%;
    font-size: 25px;
}
#t3{
    padding-left: 15%;
    font-size: 25px;
}
#t4{
    padding-left: 15%;
    font-size: 25px;
}
#pic{
    padding: 15%;
    gap: 30px;
}
#t5{
    font-size: 20px;
}
#t6{
    font-size: 20px;
}
#t7{
    font-size: 20px;
}
.divlast{
    background-color: black;
    display: flex;
    position: relative;

}
button{
    color: #808080;
   
    font: 13px;
    font-family: sans-serif;
   
    
}
.common{
    width: 170px;
    height: 55px;
    border-radius: 6px;
    background-color: black;
    border: 1px solid  gray;
    background-position: center;
    cursor: pointer;
}
.badge{
    display: flex;
    background-color: black;
    padding-left: 27%;
}
.img1{
    background-size: cover;
    background-image: url(image/app-store-badge\ \(1\).svg);
    margin-right: 24px;
}
.img2{
    background-image: url(image/google-play-badge\ \(1\).svg);

}
.ftr1{
    background-color: black;
    width: 100%;
    display: flex;
}
.ftr{
    justify-content: center;
    display: flex;
    background-color: black;
    color: white;
    height: 215px;
    display: block; 
    padding-left: 265px;
}

